﻿@model PessoaCrud.Models.IntegracaoAtividade

@{
    ViewData["Title"] = "Integrações";
}

<h1>Detalhes</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Integracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Integracao.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Criacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Criacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEntidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEntidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificadorEntidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentificadorEntidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
