@model PaginatedList<PessoaCrud.Models.IntegracaoAtividade>

@{
    ViewData["Title"] = "Integrações";
}

<h2>Pessoas</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procura por texto: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar para a lista completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Descrição</a>
            </th>
            <th>
                Criação
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EntSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Entidade</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Integracao.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Criacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEntidade)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próximo
</a>